<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="__static__/css/mui.min.css" rel="stylesheet" />
    <script type="text/javascript" src="__static__/js/back_icon.js" ></script>
    <style>
        .table {
            margin-top: 8px;
            background-color: #FFFFFF;
            font-size: 14px;
            color: #000000;
            text-align: center;
        }
        .table td,
        .table th {
            border-bottom: 1px solid #d8d8d8;
            padding: 0 1em 0;
            width: 33%;
        }
        .table tr{
            height:40px;
        }
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav" style="background-color: #fec900;color: #000000;">
    <i class="mui-icon mui-icon-left-nav mui-pull-left"  onclick="window.location.href='{:url('index/index/index?taba='.$taba)}'"></i>
    <h1 class="mui-title">余额明细</h1>
</header>
<div class="mui-content">
    <table class="table" width="100%">
        <tbody>
        <tr>
            <th>业务类型</th>
            <th>数额</th>
            <th>时间</th>
        </tr>
        <?php foreach($order as $v){ ?>
        <tr>
            <td>
                <?php if($v['type'] == 1){ ?>
                <?php echo '签到';?>
                <?php }else if($v['type'] == 2){ echo '兑换流通资产';}
                    else if($v['type'] == 3){ echo '买入';}else if($v['type'] == 4){ echo '卖出';}else if($v['type'] == 5){ echo '加速释放';}
                    else if($v['type'] == 6){ echo '转出';}else if($v['type'] == 7){ echo '转入';}
                     ?>
                <?php if($v['target_uid'] != 0) { ?>
                ({$v.target_uid})
                <?php } ?>
            </td>
            <td><?php echo $v['bo_money']?></td>
            <td class="jine"><?php echo date('Y-m-d H:i:s',$v['bo_time'])?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>
</div>
<script src="__static__/js/mui.min.js"></script>
<script type="text/javascript">
    mui.init();

</script>
</body>

</html>